
.swiper-button-next, .swiper-button-prev {
  
    color: #f1f5f9; 
    padding: 10px; 
    transition: all 0.3s;
  }
  
  .swiper-button-next:hover, .swiper-button-prev:hover {
    color: black;
  }
  

  .swiper-button-next {
    right: 20px; 
  }
  
  .swiper-button-prev {
    left: 20px; 
  }
  